<img
  class="h-[20vh] w-[100%] object-cover object-center"
  src="assets/banner.jpg"
  alt=""
/>
<div nz-row nzJustify="center">
  <img class="w-[250px]" src="assets/logo.png" alt="" />
</div>

<h1 nz-typography class="text-center mb-4 mt-0">Contempo Construction Quote</h1>
<div nz-row nzJustify="center" class="pb-4">
  <div nz-col nzXs="22" nzSm="18" nzMd="10" nzXl="8" nzXXl="6">
    <form nz-form (ngSubmit)="submitForm()" nzLayout="vertical">
      <router-outlet></router-outlet>
    </form>
  </div>
</div>
