<div nz-row class="mb-[22px]">
  <div nz-col nzSpan="24">
    <nz-form-label
      ><span
        class="text-lg font-medium"
        nzTooltipTitle="Required"
        nzTooltipPlacement="right"
        nz-tooltip
        [innerText]="question.question"
      >
        <span class="text-red-600">*</span></span
      ></nz-form-label
    >
  </div>
  <div nz-col>
    <ng-container>
      <nz-radio-group [formControl]="answer">
        <div nz-row [nzGutter]="[0, 8]" class="mt-2">
          <div
            nz-col
            nzSpan="24"
            *ngFor="let option of question.options; index as i"
          >
            <label nz-radio-button [nzValue]="option.id">
              <nz-tag [nzColor]="'#108ee9'">{{ numberToAlphabet(i) }}</nz-tag>
              {{ option.label }}
            </label>
          </div>
        </div>
      </nz-radio-group>
    </ng-container>
    <div nz-row [nzGutter]="[8, 8]">
      <div nz-col *ngIf="question.has_input" class="mt-4">
        <nz-form-item class="w-[235px] m-0">
          <nz-form-control>
            <nz-input-group>
              <input
                type="text"
                nz-input
                [placeholder]="question.input_title"
                nzSize="large"
                [formControl]="text_field"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>
</div>
