<nz-list nzItemLayout="vertical">
  <nz-list-item *ngFor="let file of images; index as i">
    <nz-list-item-meta>
      <nz-list-item-meta-title>
        {{ i + 1 }}.&nbsp;{{ file.imageFile.name }}</nz-list-item-meta-title
      >
      <nz-list-item-meta-description>
        <app-image-tags
          (selectedTags)="getSelectedTags($event, i)"
        ></app-image-tags>
        <app-voice-recorder></app-voice-recorder>
      </nz-list-item-meta-description>
    </nz-list-item-meta>
    <nz-list-item-extra>
      <img class="rounded" width="110" [src]="file.imageDataURL" />
      <div class="mt-4">
        <a class="text-[#a9a9a9]" (click)="createModal(i)"
          >Edit<span
            class="ml-0.5"
            nz-icon
            nzType="edit"
            nzTheme="twotone"
          ></span
        ></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a class="text-[#a9a9a9]" (click)="removeFile(i)"
          >Delete<span
            class="ml-0.5 text-[#ce0000]"
            nz-icon
            nzType="delete"
          ></span
        ></a>
      </div>
    </nz-list-item-extra>
  </nz-list-item>
</nz-list>

<div nz-row nzJustify="end" class="mt-4">
  <button
    nz-button
    nzType="primary"
    type="button"
    nzGhost
    (click)="fileUpload.click()"
  >
    Add Image
  </button>
  <!-- <button
    nz-col
    *ngIf="files.length > 0"
    nz-button
    nzType="primary"
    type="button"
    nzGhost
  >
    Upload Images
  </button> -->
  <input
    class="hidden"
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)"
    #fileUpload
  />
</div>
