<nz-tag
  class="mb-2"
  *ngFor="let tag of tags; let i = index"
  [nzMode]="i === 0 ? 'default' : 'closeable'"
  (nzOnClose)="handleClose(tag)"
  [nzColor]="tagColors[i]"
>
  {{ sliceTagName(tag) }}
</nz-tag>
<nz-tag
  *ngIf="!inputVisible"
  class="editable-tag"
  nzNoAnimation
  (click)="showInput()"
  nzTooltipTitle="Create Custom Tag"
  nzTooltipPlacement="right"
  nz-tooltip
>
  <span nz-icon nzType="plus"></span>
  New Tag
</nz-tag>
<input
  #inputElement
  nz-input
  nzSize="small"
  *ngIf="inputVisible"
  type="text"
  [(ngModel)]="inputValue"
  style="width: 78px"
  (blur)="handleInputConfirm()"
  (keydown.enter)="handleInputConfirm()"
/>
